<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 id=title>
    {{ title }} Aplication
  </h1>
</div>
<router-outlet></router-outlet>
<app-mapa></app-mapa>
